<div class= "row row col-sm-6 col-sm-offset-3">
  <div class= "block">
    <h1 class = "playful"> Edit </h1>
    <form accept-charset="UTF-8" method="post" action="/posts/<%=@article.id%>" >
      <input name = "_method" type = "hidden" value = "put">
      <div class="form-group">
        <textarea class="form-control" id="date" name="post[date]" type="text" placeholder="Date"><%=@article.date%></textarea>
      </div>
      <div class="form-group">
        <textarea class="form-control" id="title" name="post[title]" type="text" placeholder = "title"><%=@article.title%></textarea>
      </div>
      <div class="form-group">
        <textarea class="form-control" id="problem" name="post[problem]" type="text" placeholder = "problem"><%=@article.problem%> </textarea>
      </div>
      <div class="form-group">
        <input class="form-control" id="language" name="post[language]" type="text" value = <%=@article.language%> placeholder = "language">
      </div>
      <div class="form-group">
        <input class="form-control" id="runtime" name="post[runtime]" type="text" value = <%=@article.runtime%> placeholder = "runtime">
      </div>
      <div class="form-group">
        <textarea class="form-control" id="content" name="post[content]" type="text" placeholder = "content" rows = "10"><%=@article.content%> </textarea>
      </div>
      <div class="form-group">
        <textarea class="form-control" id="code" name="post[code]" type="text" rows = "20" placeholder = "code"><%=@article.code%></textarea>
      </div>
      <div class = "form-group">
        <textarea class = "form-control" id = "tags" name= "tags" type = "text" placeholder = "Tags delimited by commas" rows = "20"><%= @tags %></textarea>
      </div>
      <input class="btn btn-default" name="commit" type="submit" value="edit">
    </form>
  </div>
</div>